* {
    margin: 0;
}

.color1 {
    color: #d9e478;
}

.color2 {
    color: #f3dc8a;
}

.color3 {
    color: #522182;
}

.color4 {
    color: #ab4693;
}

.color5 {
    color: #f288b0;
}

body {
    background-color: #522182;
}

li {
    list-style-type: none;
/* border: solid red 1px; */
}




/*  css do menu  */
.menu {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    /* border-radius: 1px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    border: 1px solid rgba(255, 255, 255, 0.25);

    list-style-type: disc;
    display: grid;
    grid-template-columns: 20% 50% 20%;
    justify-items: center;
    text-align: center;
    /* border:  solid red 1px; */
}